<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.index.mapper.BigMapper">
    <resultMap id="Bigbrand" type="com.example.index.pojo.Bigbrand">
      <result column="brand"  property="name"/>
    </resultMap>

    <select id="selectName" resultMap="Bigbrand">
        SELECT DISTINCT a.brand FROM
        (SELECT
        brand
        FROM details GROUP BY brand)a
        JOIN details b ON a.brand = b.brand
    </select>


</mapper>    