<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.index.mapper.PointssMapper">
    <resultMap id="Pointss" type="com.example.index.pojo.Pointss">
      <result column="lat" jdbcType="VARCHAR" property="lat"/>
      <result column="lng" jdbcType="VARCHAR" property="lng"/>
    </resultMap>

    <select id="findBylng" parameterType="java.lang.Integer" resultType="com.example.index.pojo.Pointss">
        select lat,lng from points where id = #{id}
    </select>

</mapper>    