<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cooperation.mapper.ServiceMapper">
    <resultMap id="Contracts" type="com.example.cooperation.pojo.Contracts">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="account_sum" jdbcType="VARCHAR" property="accountSum"/>
      <result column="start_time" jdbcType="VARCHAR" property="startTime"/>
      <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
      <result column="contract_name" jdbcType="VARCHAR" property="contractName"/>
    </resultMap>

    <select id="serviceAll" parameterType="java.lang.String" resultMap="Contracts">
        SELECT a.id,a.contract_name,a.start_time,a.end_time FROM
        (
        SELECT
        max(id)id,
        contract_name,
        start_time,
        end_time
        FROM contract GROUP BY contract_name,account_sum,start_time,end_time
        )a
        JOIN contract b ON a.contract_name = b.contract_name
        WHERE a.contract_name LIKE "%"#{name,jdbcType=VARCHAR}"%"
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.example.cooperation.pojo.Contracts">
          SELECT DISTINCT a.id,a.contract_name,a.account_sum,a.start_time,a.end_time FROM
        (
        SELECT
        max(id)id,
        contract_name,
        account_sum,
        start_time,
        end_time
        FROM contract GROUP BY contract_name,account_sum,start_time,end_time
        )a
        JOIN contract b ON a.contract_name = b.contract_name
        WHERE a.id =#{id}
    </select>
    <select id="searchByName" parameterType="java.lang.String" resultType="com.example.cooperation.pojo.Contracts">
          SELECT DISTINCT a.id,a.contract_name,a.account_sum,a.start_time,a.end_time FROM
        (
        SELECT
        max(id)id,
        contract_name,
        account_sum,
        start_time,
        end_time
        FROM contract GROUP BY contract_name,account_sum,start_time,end_time
        )a
        JOIN contract b ON a.contract_name = b.contract_name
        WHERE a.contract_name =#{name}
    </select>
</mapper>    